*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;} /*Conseguimos que la caja se mida incluyendo su borde en el calculo total del witdh */

div.caja1{
  background-color: aqua;
  width: 20%;
  display: inline-block;
}

div.caja2{
  background-color: rgb(255, 0, 234);
  width: 20%;
  display: inline-block;
}
div.caja3{
  background-color: rgb(0, 4, 255);
  width: 20%;
  display: inline-block;
}
div.caja4{
  background-color: rgb(47, 255, 0);
  width: 20%;
  display: inline-block;
}
/*
block: Se aplican todos los efectos, cada elemento es un elemento en fila independiente
inline: Ignora efectos, todos elementos se ponen en la misma linea
inline-block: Lo pone todo en linea pero aplica efectos del block
*/
  
  